nav {
  background-color: #c4ebc4;
  text-align: center;
  margin-bottom: 2vh;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  text-transform: uppercase;
  font-size: medium;
  color: #333;
  margin: auto;
  font-family: "Chango", sans-serif;
}

nav li {
  display: inline-block;
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom: 0.22em;
  margin-top: 0.22em;
  padding: 1px;
}
